div.step {
  position: relative;
  margin-bottom: 1%;
  margin-top: 3%;
} 


div.step-body {
  position: absolute;
  left: 7%;
}

div.step-body-2 {
  position: relative;
  left: 13%;
  width: 50%;
}


div.r {
  position: relative;
  left: 10%;
}

div.pic {
  position: relative;
  left: 15%;
}

h1{
	font-size:1.25rem;
	font-weight: bold;
}
@media screen and (max-width: 512px){/* ��������С�� 512px, ���ø�Сfont-size���� */
   h1{
	font-size:0.6rem;
	font-weight: bold;
}
}
.step1-login{
  color:black;
  display:block;
  padding-left:16%;
  padding-right:15%;
  font-size: 1.25rem;
  text-align: justify;
}

@media screen and (max-width: 512px){/* ��������С�� 512px, ���ø�Сfont-size���� */
  .step1-login{
 color:black;
 padding-left:13%;
 padding-right:5%;
 font-size: 0.6rem;
}
}

span-normal{
  color:black;
  display:block;
  padding-left: 12%;
  font-size: 1.25rem;
  text-align: justify;
}
@media screen and (max-width: 512px){/* ��������С�� 512px, ���ø�Сfont-size���� */
   span-normal{
  color:black;
  display:block;
  padding-left:2.5%;
  font-size: 0.6rem;
  text-align: justify;
}
}
.col-step{
  padding-left:5%;
}