div.step {
  position: relative;
  margin-bottom: 3%;
  margin-top: 3%;
}


div.step-body {
  position: absolute;
  left: 7%;
}

div.step-body-2 {
  position: relative;
  left: 13%;
  width: 50%;
}

div.rb {
  position: relative;
  left: 7%;
}

div.r {
  position: relative;
  left: 10%;
}

div.pic {
  position: relative;
  left: 15%;
}

h1{
	font-size:1.25rem;
	font-weight: bold;
}
@media screen and (max-width: 512px){/* 可视区域小于 512px, 设置更小font-size属性 */
   h1{
	font-size:0.6rem;
	font-weight: bold;
}
}

span-normal{
  color:black;
  display:block;
  padding-left:20%;
  padding-right:20%;
  font-size: 1.25rem;
  text-align: justify;
}
@media screen and (max-width: 512px){/* 可视区域小于 512px, 设置更小font-size属性 */
   span-normal{
  color:black;
  display:block;
  padding-left:20%;
  padding-right:20%;
  font-size: 0.6rem;
  text-align: justify;
}
}