.title{

    margin-top: 41px;
    text-align: center;
    vertical-align:middle;
}

span{
    color:black;
    display:block;
    padding-left:182px;
    padding-right:182px;
    font-size: 20px;
    text-align: justify;

}