.title{
    margin-top: 5%;
    text-align: center;
    vertical-align:middle;
}

.intro{
    color:black;
    display:block;
    padding-left:20%;
    padding-right:20%;
    padding-bottom:5%;
    font-size: 20px;
    text-align: justify;

}
span-l{
    color:black;
    display:block;
    padding-left:40%;
    padding-right:10%;
    font-size: 20px;
    text-align: justify;
}

span-r{
    color:black;
    display:block;
    padding-left:10%;
    padding-right:40%;
    font-size: 20px;
    text-align: justify;
}
span-r-small{
    color:black;
    display:block;
    padding-left:10%;
    padding-right:40%;
    font-size: 16px;
    text-align: justify;
}
.tag{
    color:white;
    padding-left:34%;

}
.wiki{
    color:white;
    padding-left:20%;

}
.tower-value{
    color:white;
    padding-left:20%;
    margin-bottom: 30%;
}

.tag-l{
    font-family:STHeiti;
    color:white;
    display:block;
    padding-left:40%;
    margin-bottom: 5%;
    padding-right:10%;
    font-size: 25px;
    text-align: justify;
}

.tag-r{
    font-family:STHeiti;
    color:white;
    display:block;
    padding-left:10%;
    margin-bottom: 3%;
    padding-right:40%;
    font-size: 25px;
    text-align: justify;
}
.ant-input-number{
    margin: 10%;
    color: white;

}
.tower-l{
    margin-left: 20%;
    margin-right:0%;
    margin-bottom:5%;
    color: black;
    font-size: 18px;
}

.tower-r{
    margin-left: 10%;
    margin-right:0%;
    margin-bottom:5%;
    color: black;
    font-size: 18px;
}

.pyramid{
    margin-left:40%;
    margin-top:10%;
    max-width: 60%;
}

.price{
    font-size: 18px;
}
