/* .App {
  position: absolute;
} */

@import '~antd/dist/antd.css';


.content{
  color:black;

}



.logo{

  text-align: left;
}
.child{
    position: absolute;
    max-width: 50%;
    height:auto;
}
.App-header {
  background-image: url(../src/assets/bg.png);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

