@import '~antd/dist/antd.css';


.content{
  color:black;

}

.logo{
  text-align: left;
}
.child{
    position: absolute;
    max-width: 50%;
    height:auto;
}
.App-header {
  background-image: url(../src/assets/bg.png);
}

